<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pricipal</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

</head>
<body>
<header>
    <div class="navbar-container">
        <nav class="navbar bg-black">
            <img th:if="${pucp!=null}" th:src="@{/images/logo.png}" alt="logo">
            <div class="nav-search">
                <form>
                    <input aria-label="buscar" type="text" placeholder="Encuentra tus vuelos preferidos">
                </form>
            </div>
            <div class="nav-link">
                <a href="#">Explorar</a>
                <a href="#">Mis vuelos</a>
                <a href="#">Inicia Sesión</a>

            </div>
        </nav>
    </div>
</header>
<main>
    <div class="row">

    </div>

    </div>
</main>
<footer>

</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>